.dropitem {
  display: none;
  position: absolute;
  z-index: 100;
  left: 160px;
}
.dropitem li {
  background-color: white;
}
.dropmenu {
  position: relative;
  background-color: white;
}
.dropmenu:hover > .dropitem {
  display: block;
}
